/* <--------------------------------- utility classes ---------------------------------> */
body {
  width: 100vw;
}
section {
  width: 100vw;
  padding: 70px 0;
}
.sec-content {
  width: 90vw;
  margin: 0 auto;
  flex-direction: column;
}
.sec-heading {
  padding-bottom: 30px;
}
.secondry-heading {
  width: 80%;
  margin: 0 auto;
}
.secondry-heading h1 {
  text-align: center;
}
.button-group {
  margin: 0 auto;
  width: 70%;
  flex-direction: column;
}
.btn {
  padding: 10px 10px;
  border: 1px solid var(--primaryColor);
  margin-right: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.btn a {
  font-size: 1rem;
  font-weight: 600;
}
.underline-transform::before {
  background-color: transparent;
}
.fill-btn:hover::before {
  transform: scaleX(1);
}
.hollow-btn:hover::before {
  transform: scaleX(0);
}

/* <--------------------------------- mobile.css ---------------------------------> */
header {
  width: 100vw;
  height: 60px;
  background-color: var(--secondryBackground);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  position: fixed;
  top: 0;
}
header .header-content {
  width: 90%;
  margin: 0 auto;
}

.header-left span#logo-title {
  font-size: 20px;
}
/* Navbar */
i.fa-bars,
i.fa-xmark {
  display: block;
  font-size: 20px;
}
.header-right {
  position: absolute;
  top: 60px;
  left: -20px;
  width: 0vw;
  height: calc(100dvh - 60px);
  background-color: rgb(27, 33, 46);
  transition: all 0.5s ease;
  overflow: hidden;
}
.header-right nav {
  height: 100%;
}
.header-right nav ul {
  flex-direction: column;
  justify-content: center;
  height: 100%;
  gap: 30px;
}
ul li {
  width: 100%;
}
ul li a {
  font-size: 20px;
  display: block;
  text-align: center;
}
/* main-sec */
#main-sec {
  width: 100vw;
}

#home-sec .home-sec-content {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.left-home-sec {
  width: 100%;
}

.left-home-sec .hello-text {
  font-size: 18px;
  text-align: center;
}

.left-home-sec .name-text {
  font-size: 26px;
  text-align: center;
}
.social-icons {
  justify-content: center;
  gap: 10px;
}

.social-icons i {
  font-size: 16px;
  width: 30px;
  height: 30px;
  line-height: 30px;
}

.right-home-sec {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-home-sec img {
  width: 200px;
}

/* About section */
.about-sec-content {
  gap: 40px;
}

.about-sec-content .left-about-sec {
  width: 100%;
}

.left-about-sec img {
  width: 270px;
}

.about-sec-content .right-about-sec {
  width: 100%;
}
.right-about-sec p {
  text-align: center;
}

/* Projects */
.projects-sec-content {
  width: 80%;
  grid-template-columns: repeat(1, 1fr);
}
.project-img:hover img {
  transform: scale(1);
}
/* Contact Section */
.secondry-heading.sec-heading {
  justify-content: center;
}
.contact-sec-content .left-contact-sec {
  width: 100%;
}
p.contact-text {
  text-align: center;
}

.contact-sec-content .right-contact-sec {
  width: 100%;
}

form {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
}

form textarea {
  grid-column-start: 1;
  grid-column-end: 1;
}
form input,
form textarea {
  text-align: center;
}

/* Footer */
footer .footer-content {
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.footer-text {
  text-align: center;
}

.social-links i {
  background-color: var(--primaryColor);
}
