body {
  width: 100%;
  height: 100vh;
  position: relative;
  background: url("Images/bg_img.jpg") no-repeat center;
  background-size: cover;
  z-index: -1;
}

#container {
  width: 100%;
  height: 675px;
  position: relative;
  background-color: rgb(0, 0, 0, 0.3);
  backdrop-filter: blur(0px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: auto;
}

/* Time Container */
#time-container {
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 10px;
  cursor: default;
  height: 130px;
  padding-top: 15px;
  margin-bottom: 15px;
  overflow: hidden;
  transition: all 0.3s ease;
}

#hour,
#min,
#dots {
  font-size: 150px;
  line-height: 100px;
  font-weight: 500;
  transition: all 0.3s ease;
}

#zone {
  font-size: 60px;
}

/* msg container */
#msg-container {
  height: 60px;
  margin-bottom: 15px;
  overflow: hidden;
  transition: all 0.3s ease;
}

#msg-container h1,
#msg-container span {
  font-size: 40px;
  font-weight: 500;
  text-transform: capitalize;
}

/* Search container */
#search-container {
  width: 500px;
  height: 50px;
  margin-bottom: 15px;
  overflow: hidden;
  transition: all 0.3s ease;
}

#search-container #search-form {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

#search-form label img {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
}

#search-form label img#bing-logo {
  left: 10px;
  display: none;
}

#search-form input[type="search"] {
  width: 100%;
  height: 50px;
  border-radius: 999px;
  font-size: 16px;
  padding-left: 45px;
  padding-right: 10px;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: rgb(255, 255, 255, 0.35);
  backdrop-filter: blur(10px);
}

::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  height: 20px;
  width: 20px;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="16" width="12" viewBox="0 0 384 512"><path fill="%23ffffff" d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/></svg>');
  background-size: 20px 20px;
  cursor: pointer;
}

/* Shortcut Container */
#shortcut-container {
  display: grid;
  grid-template: repeat(2, 100px) / repeat(5, 1fr);
  max-width: 550px;
  width: 500px;
  height: 200px;
  max-height: 300px;
  overflow: hidden;
  transition: all 0.3s ease;
  user-select: none;
}

.shortcut {
  height: 100px;
  gap: 8px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: transparent;
  position: relative;
  cursor: pointer;
  user-select: none;
  animation: none 0.4s linear infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(2deg);
  }

  100% {
    transform: rotate(-2deg);
  }
}

.shortcut:hover {
  background: rgb(255, 255, 255, 0.35);
  backdrop-filter: blur(10px);
}

/* New Shortcut Button */
#new-shortcut {
  height: 100px;
  gap: 8px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: transparent;
  cursor: pointer;
  user-select: none;
}

#new-shortcut:hover {
  background: rgb(255, 255, 255, 0.35);
  backdrop-filter: blur(10px);
}

.shortcut-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255);
  overflow: hidden;
  transition: all 0.3s ease;
  user-select: none;
}

.shortcut-icon img {
  pointer-events: none;
  width: 100%;
}

#new-shortcut .shortcut-icon img {
  width: 80%;
}

.shortcut-title {
  font-size: 13px;
  width: 90%;
  text-align: center;
  text-transform: capitalize;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  user-select: none;
}

/* Add New Shortcut Box */
#add-shortcut-box {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 0px;
  overflow: hidden;
  transition: all 0.3s ease;
}

.add-shortcut-box-inner {
  width: 400px;
  height: 100%;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: 1px solid rgba(255, 255, 255, 0.75);
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(20px);
  position: relative;
}

.close-add-shortcut-box {
  position: absolute;
  top: 15px;
  right: 15px;
  filter: invert(90%);
  cursor: pointer;
  transition: all 0.2s ease;
}

.close-add-shortcut-box:hover {
  filter: invert(100%);
}

.add-shortcut-box-inner h2.add-shortcut-title {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  line-height: 30px;
}

.add-shortcut-box-inner .shortcut-icon {
  width: 70px;
  height: 70px;
  object-fit: cover;
}

.add-shortcut-box-inner .shortcut-icon img {
  width: 90%;
}

.add-shortcut-box-inner .add-shortcut-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 80%;
}

.add-shortcut-form .input-field {
  width: 100%;
  position: relative;
}

.add-shortcut-form input[type="text"].shortcut-form-fields {
  background-color: transparent;
  outline: none;
  border: 2px solid white;
  border-radius: 5px;
  padding: 15px 5px 5px 5px;
  width: 100%;
  font-size: 15px;
  line-height: 16px;
}

.placeholder-text {
  position: absolute;
  left: 7px;
  top: 32%;
  top: 20%;
  color: #ccc;
  transition: all 0.3s ease;
}

.http-error {
  color: red;
  font-size: 12px;
  position: relative;
  display: none;
}

.shortcut-form-fields:focus + .placeholder-text,
.shortcut-form-fields:valid + .placeholder-text {
  top: 2px;
  font-size: 10px;
  color: #ccc;
}

#done-shortcut-btn:disabled {
  margin-top: 0px;
  padding: 3px;
  width: 90px;
  color: #ccc;
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 17px;
  cursor: default;
  transition: all 0.3s ease;
}

#done-shortcut-btn {
  margin-top: 0px;
  padding: 3px;
  width: 90px;
  color: white;
  background-color: var(--yellowColor);
  border: 1px solid var(--yellowColor);
  border-radius: 5px;
  font-size: 17px;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Right Side Buttons */
.right-side-btns {
  position: fixed;
  top: 0px;
  right: 0px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
}
.right-side-btns .right-btn {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  width: 52px;
  transition: all 0.3s ease;
}
.right-btn:hover {
  width: auto;
}
.right-btn:hover .right-btn-title {
  width: auto;
  height: auto;
  margin-left: 10px;
}
.right-btn .right-btn-img {
  width: 30px;
  height: 30px;
}
.right-btn .right-btn-img img {
  height: 100%;
}
.right-btn .right-btn-title {
  font-weight: 600;
  font-size: 18px;
  width: 0;
  height: 0;
  overflow: hidden;
  transition: width 0.3s ease, height 0.3s ease;
}
.right-side-btns .right-bottom-div {
  margin: auto 15px 10px 0;
  display: flex;
  align-items: center;
  gap: 20px;
}
.network-div img.network-img {
  width: 30px;
}
.right-bottom-div .battery-div {
  height: 50px;
  position: relative;
  display: flex;
  align-items: center;
}
.battery-div .battery-boundry {
  width: 40px;
  height: 18px;
  border-radius: 5px;
  border: 1px solid #fff;
  position: relative;
  background-color: transparent;
  overflow: hidden;
}
.battery-boundry .battery-inner {
  height: 100%;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  background-color: #16a34a;
}
.battery-charging {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 65%;
  transform: translateY(-50%);
  filter: invert(100%);
  display: none;
}
.battery-div .battery-can {
  width: 4px;
  height: 8px;
  background-color: #fff;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  position: absolute;
  top: 41%;
  right: -3px;
}
.battery-div .battery-percentage {
  margin-right: 10px;
}

/* Left Side Buttons */
.left-side-btns {
  position: fixed;
  height: 100%;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
/* Weather */
.left-side-btns .weather-div {
  margin: 30px 0 0 30px;
  display: flex;
  flex-direction: column;
}
.weather-div .weather-details {
  display: flex;
  align-items: center;
  gap: 10px;
  display: none;
}
.weather-details .weather-img {
  width: 35px;
}
.weather-details .tempratue,
.tempratue .temp-unit {
  font-size: 30px;
  font-weight: 600;
}
.tempratue .temp-unit {
  position: relative;
  margin-left: 2px;
}
.tempratue .degree {
  position: absolute;
  font-size: 20px;
  left: -8px;
  top: -1px;
}
/* Open Setting */
.left-side-btns #open-setting {
  margin: auto 0 30px 35px;
  cursor: pointer;
}
#open-setting img.setting-img {
  filter: invert(80%);
  transition: all 0.3s ease;
}
#open-setting img.setting-img:hover {
  filter: invert(100%);
}

/* Tasks */
.tasks-pane {
  position: fixed;
  right: 0;
  top: 0;
  width: 0px;
  height: 100vh;
  background-color: transparent;
  transition: all 0.3s ease;
  z-index: 2;
}
.tasks-pane-inner {
  width: 100%;
  height: 100%;
  padding: 15px 15px 15px 0px;
}
.tasks-box {
  width: 100%;
  padding: 15px 20px;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
}
.tasks-box {
  height: 100%;
  gap: 20px;
}
.app-heading {
  font-size: 24px;
  font-weight: 600;
}
.tasks-box form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tasks-box form input[type="text"] {
  width: 100%;
  padding: 10px 20px;
  background-color: transparent;
  border: 1px solid rgb(255, 255, 255, 0.75);
  border-right: none;
  outline: none;
  border-top-left-radius: 9999px;
  border-bottom-left-radius: 9999px;
  font-size: 14px;
  color: #fff;
}
.tasks-box form button {
  padding: 10px 20px;
  background-color: #f7a70a;
  border: 1px solid rgb(255, 255, 255, 0.75);
  border-top-right-radius: 9999px;
  border-bottom-right-radius: 9999px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.added-tasks {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.task {
  display: flex;
  width: 100%;
  gap: 10px;
  position: relative;
  padding: 0 40px;
}
.task .task-checkbox + label {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgb(255, 255, 255);
  color: transparent;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
  position: absolute;
  left: 10px;
  top: 4px;
  user-select: none;
}
.task-checkbox:checked + label {
  color: #fff;
  background-color: var(--yellowColor);
  border: 1px solid var(--yellowColor);
}

.task .task-text {
  font-size: 15px;
  color: #fff;
}
.task .delete-task {
  font-size: 15px;
  font-weight: 900;
  position: absolute;
  right: 10px;
  top: 0px;
  cursor: pointer;
  user-select: none;
}

/* Notes */
.notes-pane {
  position: fixed;
  right: 0;
  top: 0;
  width: 0px;
  height: auto;
  max-height: 100vh;
  background-color: transparent;
  transition: all 0.3s ease;
  z-index: 2;
  overflow-y: auto;
}
.notes-pane-inner {
  width: 100%;
  height: 100%;
  padding: 15px 15px 15px 0px;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.notes-box-one {
  width: 100%;
  padding: 15px 20px;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.notes-box-one form.notes-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5px;
}
form.notes-form input[type="text"],
form.notes-form textarea {
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
  resize: none;
}
form.notes-form .notes-title-input {
  font-size: 18px;
  font-weight: 600;
}
form.notes-form .notes-desc-input {
  font-size: 14px;
  font-weight: 400;
}
form.notes-form button:disabled {
  font-size: 16px;
  font-weight: 600;
  background-color: transparent;
  color: #cccccca6;
  border: 1px solid #cccccca6;
  padding: 7px;
  border-radius: 8px;
  transition: all 0.3s ease;
  width: 140px;
  margin-left: auto;
  cursor: default;
}
form.notes-form button {
  font-size: 16px;
  font-weight: 600;
  padding: 7px;
  border-radius: 8px;
  transition: all 0.3s ease;
  width: 140px;
  margin-left: auto;
  cursor: pointer;
  background-color: var(--yellowColor);
  border: 1px solid var(--yellowColor);
}

/* Added note */
.added-notes-div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.notes-box {
  width: 100%;
  padding: 15px 20px;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.notes-box .added-note-title {
  font-size: 18px;
  font-weight: 600;
  padding-right: 30px;
}
.notes-box .added-note-desc {
  font-size: 14px;
  font-weight: 400;
}
.notes-box .note-delete {
  position: absolute;
  right: 19px;
  top: 19px;
  font-size: 13px;
  font-weight: 900;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  border-radius: 50%;
  background-color: var(--yellowColor);
  cursor: pointer;
  user-select: none;
}
/* Setting Box */
#setting-box {
  width: 0px;
  height: 100vh;
  background-color: transparent;
  position: fixed;
  left: 0;
  top: 0;
  transition: all 0.5s ease;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: none;
}

.setting-inner {
  width: 100%;
  min-width: 350px;
  padding: 15px 0 15px 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.setting-section {
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

h2.setting-sec-heading {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 5px;
}

h3.setting-tile-heading {
  font-size: 16px;
  font-weight: 400;
}

/* Setting tile */
.setting-tile-withHeading {
  display: flex;
  flex-direction: column;
}

.setting-tile .setting-tile-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Hour Format Radio */
.setting-radio {
  display: flex;
  align-items: center;
  gap: 10px;
}

.hour-format-radio + label,
.search-engine-radio + label {
  padding: 2px;
  border-radius: 5px;
  width: 75px;
  text-align: center;
  border: 1px solid white;
  cursor: pointer;
  background-color: transparent;
  transition: all 0.3s ease;
}

.search-engine-radio + label {
  font-size: 14px;
}

.hour-format-radio:checked + label,
.search-engine-radio:checked + label {
  background-color: var(--yellowColor);
}

/* Message Input Name */
.name-input-div input[type="text"] {
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid white;
  width: 130px;
  text-align: center;
  text-transform: capitalize;
}

/* Shortcut Layout */
.shortcut-layout-setting {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 10px;
}

.layout-radios + label {
  padding: 4px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid white;
  cursor: pointer;
  background-color: transparent;
  transition: all 0.3s ease;
}

.layout-radios:checked + .layout-labels {
  background-color: var(--yellowColor);
}

/* Shortcut show */
.shortcut-show-setting {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 10px;
}

.show-checkbox + label {
  padding: 4px 5px;
  font-size: 13px;
  border-radius: 5px;
  text-align: left;
  border: 1px solid white;
  cursor: pointer;
  background-color: transparent;
  transition: all 0.3s ease;
  position: relative;
}

.select-checkbox {
  width: 10px;
  height: 10px;
  border: 1px solid white;
  border-radius: 50%;
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  transition: all 0.3s ease;
}

.show-checkbox:checked + label .select-checkbox {
  background-color: var(--yellowColor);
  border: 1px solid var(--yellowColor);
}

/* Reset Setting */
.setting-reset {
  position: relative;
}

button#reset-setting-btn {
  padding: 3px 10px;
  background-color: var(--yellowColor);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s ease;
}

button#reset-setting:hover {
  transform: scale(1.1);
}

#sure-reset {
  position: absolute;
  bottom: 40px;
  right: -3px;
  width: 310px;
  height: 0px;
  padding: 0px;
  border-radius: 10px;
  background-color: white;
  color: #333;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  overflow: hidden;
  transition: all 0.3s ease;
}

#sure-reset .confirmation-btns {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
}

.confirmation-btns button {
  width: 80px;
  color: white;
  background-color: var(--yellowColor);
  border: 1px solid var(--yellowColor);
  border-radius: 5px;
  padding: 3px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.confirmation-btns button:hover {
  transform: scale(1.1);
}

.confirmation-btns #cancel-btn {
  background-color: white;
  color: #333;
  border: 1px solid var(--yellowColor);
  border: 1px solid #333;
}
